$default-font: "Montserrat-Regular", sans-serif
$semi-bold: "Montserrat-SemiBold"
$bold: "Montserrat-Bold"
$accent: orange
$title: #1D262C
$text: #71828A
$pink: #FF5B6E
$green: #0CA3BE
$blue: #3471E2

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
